.table_container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;

}

thead {
    background: #B03A2E;
    border-radius: 5px;

}

.th {
    color: #fff;
    padding: 10px;
}

tbody {
    background: #FDFEFE;
}

.td {
    padding: 10px;
    font-size: 14px;
    color: #212F3D;
}

.tr:nth-child(even) {
    background: #F2F3F4;
}

tfoot {
    background: #B03A2E;
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 10px;
}