@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: black;
    /* background-color: #EAECEE; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: auto;
    margin-left: 250px;
    padding: 0 50px 0 50px;

}


@media screen and (max-width: 700px) {
    body {
        width: 100%;
        height: auto;
        position: relative;
        margin-left: 0;
        padding-left: 0;
        display: grid;
        grid-template-columns: 2fr;
        grid-area: 'body';
    }
}