@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.sidebar {
    background: linear-gradient(to bottom, #34495e, #2e86c1);
    left: 0;
    position: fixed;
    height: 100%;
    top: 0;
    color: #ffff;
    margin: 0;
    padding: 0;
    width: 14%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    z-index: 5;
}

.hamburger_menu {
    display: none;
}

.header img {
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

.header img:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    font-family: 'Jaro', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
}

.linksection {
    padding: 8px;
}

.linksection a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 2.5rem;
    list-style: none;
    text-decoration: none;
    color: rgb(237, 237, 239);
    font-size: 1.5rem;
}

.footer a {
    bottom: 0;
    position: absolute;
    width: 100%;

    padding: 1rem;
    gap: 5px;
    display: flex;
    align-items: center;
}

.footer a {
    color: rgb(237, 237, 239);
    text-decoration: none;
    font-size: 1.5rem;
}

footer a:hover {
    background-color: #D5D8DC;
    transition: 0.5s ease;
    text-transform: uppercase;
    color: white;
}

.linksection a:hover:not(.active) {
    background-color: #D5D8DC;
    transition: 0.5s ease;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .linksection {
        float: left;
        display: flex;
        justify-content: space-around;
    }

    .footer {
        display: none;
    }

    .header {
        display: none;
    }

    .linksection a {
        display: none;
    }

    .hamburger_menu {
        display: inline-block;
    }
}

@media screen and (max-width: 400px) {
    .linksection {
        text-align: center;
        float: none;
    }
}