@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.sidebar {
    background-color: #EAEDED;
    left: 0;
    position: fixed;
    height: 100vh;
    top: 0;
    color: #ffff;
    margin: 0;
    padding: 0;
    width: 250px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.header img {
    border-radius: 50%;
}

.header {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 8px;
    background-color: #943126;
}

.linksection {
    padding: 8px;
}

.linksection a {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 25px;
    line-height: 5px;
    list-style: none;
    text-decoration: none;
    color: #2C3E50;

}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
    color: #2C3E50;
}

footer:hover {
    background-color: #D5D8DC;
    transition: 0.5s ease;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}

.linksection a:hover:not(.active) {
    background-color: #D5D8DC;
    transition: 0.5s ease;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}




@media screen and (max-width: 700px) {
    .sidebar {
        width: 100vh;
        height: auto;
        position: relative;
    }

    .linksection {
        float: left;
        display: flex;
        justify-content: space-around;
    }

    .footer {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .linksection {
        text-align: center;
        float: none;
    }
}